*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #384047;
}

#profile-form {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px 20px;
}

#profile-form h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
  border-bottom: 3px solid #E36B84;
}

#profile-form h2 {
  font-size: 13px;
}

#profile-form p {
  font-size: 12px;
  margin: 0 0 5px 0;
  color: black;
  font-weight: bold;
}

h3 {
    text-align: center;
  }

input[type="text"]
 {
  background-color: #FFF7F7;
  border: none;
  font-size: 12px;
  height: auto;
  margin: 0;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #E36B84;
  background-color: rgba(255, 255, 255, 0.5);
  color: #384047;
  margin-bottom: 10px;
}
