body {
  margin: 40px 40px;
}

.header {
  font-family: 'Work Sans', sans-serif;
  color: #134b74;
  z-index: 1;
  position: absolute;
  margin: 0px 0px 0px 40px;
}

.header-shadow {
  font-family: 'Work Sans', sans-serif;
  color: #aedafb;
  z-index: 0;
  padding: 10px 0px 0px 30px;
  margin: 30px 0px 0px 40px;
}

#stats-container {
  font-family: 'Work Sans', sans-serif;
  background-color: antiquewhite;
  color: #134b74;
  border-radius: 5px;
  margin-left: 40px;
}

p {
  padding: 10px 30px;
}
